/* start with . since new-tweet is class name. don't need dot for tags. I put .new-tweet in front of each tag because I am targetting specific areas and don't want to target all tags (ex: div) */
.new-tweet{
  display:flex;
  flex-direction:column;
  width: 90%;
  margin: 0 auto;
}

.new-tweet h2 {
  width: 100%;
  text-align: center;
}

.new-tweet form {
  width: 100%
}

.new-tweet textarea {
  border: none;
  border-bottom: 4px solid black;
  width: 100%;
  background-color: #f4f1ec;
}

.new-tweet div{
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.new-tweet button {
  background-color: #4056a1;
  color: #ffffff;
  border: none;
}